/* Make sure the HTML and body take up full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f7f6eb;  
  overflow-x: hidden;  /* Prevent horizontal scroll */
}

/* Ensure the root React app takes full height */
.App {
  min-height: 100vh;  
  display: flex;
  flex-direction: column;  /* Stack content vertically */
  background-color: #f7f6eb; 
}


/* Handle overflow for long content */
#result {
  overflow-y: auto;  
}
