.home-page {
  background-color: #f7f6eb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div {
  background-color: #f7f6eb;
  height: 1100px;
  position: relative;
  width: 1280px;
}

.home-page .header {
  background-color: transparent;
  height: 130px;
  left: 374px;
  position: absolute;
  top: 77px;
  width: 533px;
}

.home-page .group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  position: relative;
  width: 535px;
}

.home-page .text-wrapper {
  color: #ff855a;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 170px;
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  top: 24px;
  width: 403px;
}

.home-page .discover-relevant {
  color: transparent;
  font-family: "Nunito-Bold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 132px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 408px;
  width: 1017px;
}

.home-page .span {
  color: #949450;
  font-weight: 700;
}

.home-page .text-wrapper-2 {
  color: #382020;
  font-family: "Nunito-Regular", Helvetica;
}

.home-page .text-wrapper-3 {
  color: #000000;
  font-family: "Nunito-Regular", Helvetica;
}

.home-page .text-wrapper-4 {
  color: #382020;
  font-family: "Nunito-BoldItalic", Helvetica;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  left: 462px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 343px;
}

.search-bar-home {
  font-family: "Nunito-Regular", Helvetica;
  font-size: 17px;
  background-color: #ebebeb;
  border: 1.5px solid;
  border-color: #8d8f94;
  border-radius: 45px;
  position: absolute;
  height: 48px;
  left: -140px;
  top: 170px;
  width: 806px;
  padding: 2px 30px;  /* Top/Bottom: 10px, Left/Right: 20px */
 }
 
 
 .search-bar-home::placeholder {
  font-family: "Nunito-Regular", Helvetica;
  font-size: 17px;
  color: #9e9e9e;
  font-style: italic;
 }
 

.home-page .text-wrapper-5 {
  color: #9e9e9e;
  font-family: "Nunito-SemiBoldItalic", Helvetica;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
}
